# Análise de Dados referente a Meninas.Comp

Foi disponibilizada pelo professor Vinícius [Sobrenome] uma planilha de dados de uma pesquisa realizada de 2011 a 2014 na Semana Nacional de Ciência e Tecnologia (SNCT) em Brasília e tal pesquisa buscava descobrir um pouco mais sobre as meninas do ensino médio de Brasília e por que o baixo nível de interesse nas áreas de Computação.

O trabalho consistirá em transformar e carregar os dados (o processo de extração foi previamente feito). A partir das informações, espera-se obter um insight sobre a atual situação das mulheres na computação.

In [70]:
import pandas as pd
import numpy as np
import csv
import os

In [71]:
meninas_df = pd.read_csv('dados_meninas_comp.csv', sep=';')
meninas_df.head()

,Year,Gender,Educational.Stage,Field.Of.Interest,Would.Enroll.In.CS,Q1,Q2,CS.Only.Teaches.To.Use.Software,CS.Uses.Little.Math,Most.CS.Students.Are.Male,...,Has.Used.Image.Editor,Has.Used.Spreadsheet,Has.Used.Database,Has.Used.Internet,Has.Used.Social.Network,Has.Used.Email,Has.Used.Games,Has.Used.For.Creating.Web.Pages,Has.Used.For.Development,Has.Used.Other.Softwares
0,2014,F,Middle School,Human Sciences,No,10100,100000,No,Yes,No,...,No,No,No,No,Yes,No,No,No,No,No
1,2014,F,Middle School,Human Sciences,No,10000000,100000,Yes,No,Maybe,...,No,No,No,No,Yes,No,No,No,No,No
2,2014,F,Middle School,Biology-Health Sciences,Maybe,10000000,100000,No,No,No,...,No,No,No,No,Yes,No,No,No,No,No
3,2014,F,High School (11th Grade),Human Sciences,No,11000000,100000,Yes,No,Yes,...,No,No,No,No,Yes,No,No,No,No,No
4,2014,F,Middle School,Biology-Health Sciences,Maybe,11100000,100000,NaN,NaN,NaN,...,No,No,No,No,Yes,No,No,No,No,No

In [72]:
for collumn in meninas_df:
    print(collumn)
    print(pd.value_counts(meninas_df[collumn].values, dropna=False), "\n")

Year
2011    1821
2012     944
2013     517
2014     425
dtype: int64

Gender
F      3680
NaN      14
M        13
dtype: int64

Educational.Stage
Middle School               1096
High School (10th Grade)     819
High School (11th Grade)     685
High School (12th Grade)     638
College                      391
NaN                           58
Adult Education Program       20
dtype: int64

Field.Of.Interest
Biology-Health Sciences    1485
Human Sciences             1257
Exact Sciences              810
NaN                         155
dtype: int64

Would.Enroll.In.CS
Maybe    1358
Yes      1301
No        953
NaN        95
dtype: int64

Q1
11100000    400
10000000    331
11110000    313
11110010    209
11100100    196
11110100    164
11110110    119
11000000    113
10010000     96
10001000     85
10100000     79
11111000     67
11010000     65
11101000     63
10000100     51
11100010     50
10011000     48
11000100     47
11111010     46
10110000     42
11111110     39
10010010     36
10100100     35
11110111     34
1100100      32
11101100     30
11111111     30
100          30
11100110     29
11111100     27
           ...
110010        1
1100111       1
1100011       1
1010101       1
10111         1
1111101       1
101110        1
1000010       1
11            1
10010111      1
110001        1
1001100       1
1001110       1
11001101      1
100010        1
1111110       1
11010011      1
1             1
11010101      1
11011011      1
11010111      1
1111000       1
1110111       1
1010000       1
10011011      1
10001101      1
101010        1
110111        1
11011001      1
1110000       1
Length: 157, dtype: int64

Q2
11001111000    326
11101111000    296
11001110000    184
11111111000    114
11101110000    110
11001111001    106
11111111111    100
10001111000    100
11101111001     97
10101111000     62
1111000         58
10101110000     58
11111111110     56
10001110000     54
11101111011     49
11001111010     48
11101111010     47
11111111001     45
11001111011     40
11111110000     39
11001100000     35
11101111111     31
10001111001     31
11111111011     31
11101110001     28
11001110001     27
11001110010     26
1001111000      26
11011111000     25
11101111100     25
              ...
10001110110      1
1000101001       1
10111110110      1
110001100        1
110001           1
10001010101      1
100110001        1
10100111000      1
11110000         1
10011111011      1
11111100001      1
11001110111      1
10011111001      1
10101010001      1
1001010001       1
111111000        1
11100            1
11100010000      1
11000000011      1
10000010110      1
100101000        1
1001111011       1
1000111010       1
10010011100      1
11001011110      1
11000110010      1
11011010001      1
10001010111      1
1111111100       1
1110010          1
Length: 440, dtype: int64

CS.Only.Teaches.To.Use.Software
No       2797
Maybe     499
Yes       321
NaN        90
dtype: int64

CS.Uses.Little.Math
No       2177
Maybe     839
Yes       570
NaN       121
dtype: int64

Most.CS.Students.Are.Male
Yes      1912
No        898
Maybe     768
NaN       129
dtype: int64

CS.Requires.Knowledge.In.Computers
Yes      1707
No       1116
Maybe     751
NaN       133
dtype: int64

Higher.Education.Required.To.Work.In.CS
Yes      1937
No        859
Maybe     771
NaN       140
dtype: int64

Family.Approves.CS.Major
Maybe    1629
No       1022
Yes       937
NaN       119
dtype: int64

CS.Has.Low.Employability
No       2021
Maybe    1197
Yes       355
NaN       134
dtype: int64

CS.Work.Has.Long.Hours
No       2024
Maybe    1111
Yes       440
NaN       132
dtype: int64

CS.Fosters.Creativity
Yes      3067
Maybe     333
No        177
NaN       130
dtype: int64

CS.Is.Prestigious
Yes      2228
Maybe    1073
No        269
NaN       137
dtype: int64

CS.Provides.Good.Wages
Yes      1795
Maybe    1616
No        165
NaN       131
dtype: int64

CS.Enables.Interdisciplinary.Experiences
Yes      2734
Maybe     747
No        128
NaN        98
dtype: int64

Uses.Computer.At.Home
Yes    3433
No      274
dtype: int64

Uses.Computer.At.Relatives.House
Yes    2458
No     1249
dtype: int64

Uses.Computer.At.Friends.House
Yes    2389
No     1318
dtype: int64

Uses.Computer.At.School
No     1979
Yes    1728
dtype: int64

Uses.Computer.At.Work
No     2954
Yes     753
dtype: int64

Uses.Computer.At.Lan.House
No     2470
Yes    1237
dtype: int64

Uses.Computer.At.Library
No     2778
Yes     929
dtype: int64

Uses.Computer.At.Digital.Inclusion.Center
No     3452
Yes     255
dtype: int64

Has.Used.Text.Editor
Yes    3191
No      516
dtype: int64

Has.Used.Image.Editor
Yes    2694
No     1013
dtype: int64

Has.Used.Spreadsheet
No     2025
Yes    1682
dtype: int64

Has.Used.Database
No     2945
Yes     762
dtype: int64

Has.Used.Internet
Yes    3333
No      374
dtype: int64

Has.Used.Social.Network
Yes    3380
No      327
dtype: int64

Has.Used.Email
Yes    3226
No      481
dtype: int64

Has.Used.Games
Yes    2492
No     1215
dtype: int64

Has.Used.For.Creating.Web.Pages
No     3140
Yes     567
dtype: int64

Has.Used.For.Development
No     2906
Yes     801
dtype: int64

Has.Used.Other.Softwares
No     2646
Yes    1061
dtype: int64

Como é possível notar, há a presença de 13 meninos e 14 pessoas não informaram o sexo, portanto, essas 27 pessoas devem ser removidas da análise.

In [73]:
meninas_df = meninas_df[meninas_df["Gender"] == 'F']

Atualmente os dados encontram-se em sua maioria em formato de string, tendo como respostas "Yes", "No" e "Maybe". Para que se torne mais fácil de manipular, iremos transformar tais strings em zeros ("No"), uns ("Yes") e dois ("Maybe").

In [74]:
mudancas = {'No':0, 'Yes':1, 'Maybe':2}
meninas_df = meninas_df.replace(mudancas)

In [75]:
meninas_df

,Year,Gender,Educational.Stage,Field.Of.Interest,Would.Enroll.In.CS,Q1,Q2,CS.Only.Teaches.To.Use.Software,CS.Uses.Little.Math,Most.CS.Students.Are.Male,...,Has.Used.Image.Editor,Has.Used.Spreadsheet,Has.Used.Database,Has.Used.Internet,Has.Used.Social.Network,Has.Used.Email,Has.Used.Games,Has.Used.For.Creating.Web.Pages,Has.Used.For.Development,Has.Used.Other.Softwares
0,2014,F,Middle School,Human Sciences,0.0,10100,100000,0.0,1.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1,2014,F,Middle School,Human Sciences,0.0,10000000,100000,1.0,0.0,2.0,...,0,0,0,0,1,0,0,0,0,0
2,2014,F,Middle School,Biology-Health Sciences,2.0,10000000,100000,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
3,2014,F,High School (11th Grade),Human Sciences,0.0,11000000,100000,1.0,0.0,1.0,...,0,0,0,0,1,0,0,0,0,0
4,2014,F,Middle School,Biology-Health Sciences,2.0,11100000,100000,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,0,0
5,2014,F,High School (10th Grade),Human Sciences,2.0,11100000,100000,0.0,2.0,0.0,...,0,0,0,0,1,0,0,0,0,0
6,2014,F,Middle School,Exact Sciences,0.0,10000000,101000,0.0,1.0,0.0,...,0,0,0,0,1,0,1,0,0,0
7,2014,F,High School (12th Grade),NaN,NaN,1000000,1000000,NaN,NaN,1.0,...,0,0,0,1,0,0,0,0,0,0
8,2014,F,Middle School,Biology-Health Sciences,2.0,1000000,1000000,2.0,0.0,1.0,...,0,0,0,1,0,0,0,0,0,0
9,2014,F,High School (10th Grade),Biology-Health Sciences,2.0,11110000,1100000,2.0,1.0,1.0,...,0,0,0,1,1,0,0,0,0,0
10,2014,F,Middle School,Exact Sciences,0.0,10110100,1101000,0.0,2.0,0.0,...,0,0,0,1,1,0,1,0,0,0
11,2014,F,Middle School,Exact Sciences,1.0,11000000,1101000,1.0,1.0,2.0,...,0,0,0,1,1,0,1,0,0,0
12,2014,F,Middle School,Exact Sciences,1.0,11000000,1101000,1.0,0.0,1.0,...,0,0,0,1,1,0,1,0,0,0
13,2014,F,Middle School,Biology-Health Sciences,2.0,11110000,1101000,2.0,0.0,1.0,...,0,0,0,1,1,0,1,0,0,0
14,2014,F,Middle School,Exact Sciences,2.0,11110000,1110001,0.0,0.0,2.0,...,0,0,0,1,1,1,0,0,0,1
15,2014,F,High School (11th Grade),Biology-Health Sciences,0.0,10100010,1110100,0.0,0.0,0.0,...,0,0,0,1,1,1,0,1,0,0
16,2014,F,Middle School,Biology-Health Sciences,1.0,1000100,1111000,1.0,2.0,0.0,...,0,0,0,1,1,1,1,0,0,0
17,2014,F,High School (12th Grade),Biology-Health Sciences,0.0,10000000,1111000,NaN,NaN,NaN,...,0,0,0,1,1,1,1,0,0,0
18,2014,F,High School (11th Grade),Exact Sciences,1.0,10000100,1111000,0.0,0.0,1.0,...,0,0,0,1,1,1,1,0,0,0
19,2014,F,Middle School,Biology-Health Sciences,1.0,11000100,1111000,2.0,0.0,1.0,...,0,0,0,1,1,1,1,0,0,0
20,2014,F,High School (10th Grade),Exact Sciences,2.0,11100100,1111000,0.0,0.0,1.0,...,0,0,0,1,1,1,1,0,0,0
21,2014,F,Middle School,Biology-Health Sciences,0.0,11110100,1111000,0.0,1.0,0.0,...,0,0,0,1,1,1,1,0,0,0
22,2014,F,High School (10th Grade),Exact Sciences,1.0,11010010,1111010,0.0,0.0,2.0,...,0,0,0,1,1,1,1,0,1,0
23,2014,F,Middle School,Exact Sciences,0.0,11100000,11111010,1.0,0.0,0.0,...,0,0,1,1,1,1,1,0,1,0
24,2014,F,Middle School,Biology-Health Sciences,0.0,10000,100101000,0.0,2.0,2.0,...,0,1,0,0,1,0,1,0,0,0
25,2014,F,Middle School,Biology-Health Sciences,0.0,11100000,111111000,0.0,0.0,0.0,...,0,1,1,1,1,1,1,0,0,0
26,2014,F,NaN,Biology-Health Sciences,1.0,10000000,1000000000,2.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
27,2014,F,High School (10th Grade),Human Sciences,0.0,11100000,1000110000,0.0,2.0,2.0,...,1,0,0,0,1,1,0,0,0,0
28,2014,F,High School (10th Grade),Exact Sciences,1.0,11110100,1000111000,0.0,0.0,0.0,...,1,0,0,0,1,1,1,0,0,0
29,2014,F,Middle School,Human Sciences,2.0,11100000,1000111011,2.0,2.0,2.0,...,1,0,0,0,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3677,2013,F,High School (12th Grade),Biology-Health Sciences,1.0,10001010,11111111110,0.0,0.0,1.0,...,1,1,1,1,1,1,1,1,1,0
3678,2013,F,High School (12th Grade),Biology-Health Sciences,2.0,11100000,11111111111,0.0,2.0,1.0,...,1,1,1,1,1,1,1,1,1,1
3679,2013,F,High School (12th Grade),Human Sciences,2.0,11100000,11111111111,0.0,2.0,NaN,...,1,1,1,1,1,1,1,1,1,1
3680,2013,F,High School (12th Grade),Human Sciences,0.0,11100000,11001101000,0.0,2.0,1.0,...,1,0,0,1,1,0,1,0,0,0
3681,2013,F,High School (12th Grade),Human Sciences,2.0,10000100,11100111000,2.0,0.0,1.0,...,1,1,0,0,1,1,1,0,0,0
3682,2013,F,High School (12th Grade),Human Sciences,2.0,10000000,11111111000,0.0,2.0,2.0,...,1,1,1,1,1,1,1,0,0,0
3683,2013,F,High School (12th Grade),Exact Sciences,2.0,11110000,11001111000,0.0,0.0,1.0,...,1,0,0,1,1,1,1,0,0,0
3684,2013,F,High School (12th Grade),Biology-Health Sciences,0.0,10010000,11101110001,0.0,1.0,1.0,...,1,1,0,1,1,1,0,0,0,1
3685,2013,F,High School (12th Grade),NaN,0.0,11110000,11101111011,0.0,0.0,1.0,...,1,1,0,1,1,1,1,0,1,1
3686,2013,F,High School (12th Grade),Human Sciences,NaN,10010000,11111111111,0.0,0.0,1.0,...,1,1,1,1,1,1,1,1,1,1
3687,2013,F,High School (12th Grade),Biology-Health Sciences,0.0,11100000,10001110000,2.0,0.0,1.0,...,0,0,0,1,1,1,0,0,0,0
3688,2013,F,High School (12th Grade),Biology-Health Sciences,0.0,11110000,11101111000,0.0,0.0,1.0,...,1,1,0,1,1,1,1,0,0,0
3689,2013,F,High School (12th Grade),Exact Sciences,0.0,11110010,11101111000,0.0,2.0,0.0,...,1,1,0,1,1,1,1,0,0,0
3690,2013,F,High School (12th Grade),Biology-Health Sciences,0.0,11100010,11001110000,2.0,0.0,1.0,...,1,0,0,1,1,1,0,0,0,0
3691,2013,F,High School (12th Grade),Biology-Health Sciences,2.0,10011000,11001110000,NaN,2.0,1.0,...,1,0,0,1,1,1,0,0,0,0
3692,2013,F,High School (12th Grade),Human Sciences,2.0,10011000,10000110000,0.0,0.0,1.0,...,0,0,0,0,1,1,0,0,0,0
3693,2013,F,High School (12th Grade),Human Sciences,1.0,10000000,10001010001,0.0,2.0,2.0,...,0,0,0,1,0,1,0,0,0,1
3694,2013,F,High School (12th Grade),Biology-Health Sciences,0.0,10100000,11111110111,0.0,0.0,0.0,...,1,1,1,1,1,1,0,1,1,1
3695,2013,F,High School (12th Grade),Biology-Health Sciences,0.0,10000000,11001110000,0.0,0.0,1.0,...,1,0,0,1,1,1,0,0,0,0
3696,2013,F,High School (12th Grade),Human Sciences,0.0,11000000,1,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
3697,2013,F,High School (12th Grade),Human Sciences,0.0,11111000,11101111011,0.0,2.0,0.0,...,1,1,0,1,1,1,1,0,1,1
3698,2013,F,High School (12th Grade),Biology-Health Sciences,0.0,11110110,11101111001,0.0,0.0,1.0,...,1,1,0,1,1,1,1,0,0,1
3699,2013,F,High School (12th Grade),Human Sciences,0.0,11111000,10101110001,0.0,1.0,1.0,...,0,1,0,1,1,1,0,0,0,1
3700,2013,F,High School (12th Grade),Biology-Health Sciences,0.0,11110000,11001111000,0.0,0.0,1.0,...,1,0,0,1,1,1,1,0,0,0
3701,2013,F,High School (12th Grade),Human Sciences,0.0,10011000,101111001,0.0,0.0,1.0,...,0,1,0,1,1,1,1,0,0,1
3702,2013,F,High School (12th Grade),Exact Sciences,2.0,11101010,11101111101,2.0,0.0,2.0,...,1,1,0,1,1,1,1,1,0,1
3703,2013,F,High School (12th Grade),Biology-Health Sciences,0.0,11100100,11101111000,0.0,0.0,1.0,...,1,1,0,1,1,1,1,0,0,0
3704,2013,F,High School (12th Grade),Human Sciences,0.0,10100010,11101111000,0.0,0.0,1.0,...,1,1,0,1,1,1,1,0,0,0
3705,2013,F,High School (12th Grade),Human Sciences,0.0,10011010,11101111000,0.0,0.0,1.0,...,1,1,0,1,1,1,1,0,0,0
3706,2013,F,High School (12th Grade),Biology-Health Sciences,2.0,11111110,10111110001,0.0,0.0,1.0,...,0,1,1,1,1,1,0,0,0,1